<!Doctype html>
<!-- Main html template for music-store app -->
<html>
	<head>
		<!-- load style sheets  -->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
		<!--  load javascript dependencies -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
		<script src="//apis.google.com/js/platform.js?onload=start"> </script>
	</head>
	<body class="app_body">
		<div class="container">
			<!-- page content -->
			{% block content %}

			{% endblock %}
			<!-- /page content -->
		</div>
	</body>
</html>