<!-- navbar of the app -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div style="width:95%;top:5px"  class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('home')}}">The Music Store</a>
      {%if logout%}
        <a class="pull-right btn btn-primary log" href="{{url_for('login')}}">Login</a>
      {%else%}
        <a class="pull-right btn btn-primary log" onClick="logout()">Logout</a>
      {%endif%}
    </div>
  </div>
</nav>

<!-- flash messages -->
<div class = 'flash'>
  {% with messages = get_flashed_messages() %}
    {% if messages %}   
      <ul>
        {% for message in messages %}
          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong class="glyphicon glyphicon-info-sign"></strong> {{message}}
          </div>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

<!-- / flash messages  -->
</div>

<script type="text/javascript">
function logout(){
  $.ajax({
    url:'/disconnect',
    success:function(){
      setTimeout(function() {
          window.location.href = "/home";
         }, 2000);
    }
    });

}
</script>