{% extends "main.html" %}
{% include "navbar.html" %}
{% block content %}
<!-- add new genre page -->
<div style="border-radius:0px !important" class="newGenre_cont col-md-6 jumbotron">
	<form method="POST" action="#">
	<input class="inputbox form-control" name="genreName" type="text" placeholder="Enter Genre Name"/>
	<button type="submit" class="btn btn-default addGenre">Add Genre</button>
	<a href="{{url_for('home')}}" class="btn btn-default addGenre">Cancel</a>
	</form>
</div>
{% endblock %}
